:root {
    --font-primary: "Roslindale", "Times New Roman", serif;
    --font-secondary: "Inter", "Helvetica", "Arial", sans-serif;
    --bg: #c2c0b5;
    --white: #fffef2;
    --medium: #f6efe2;
    --black: #1c1c1c;
    --black-alpha: rgba(28, 28, 28, 0.95);
    --black-alpha2: rgba(28, 28, 28, 0.05);
    --error: #d30000;
    --success: #10bb52;
    --alert: #ffd702;
    --shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    --radius: 0.5vw;
    --radius-big: 4vw;
    --p2In: cubic-bezier(0.11, 0, 0.5, 0);
    --p2Out: cubic-bezier(0.5, 1, 0.89, 1);
    --p2InOut: cubic-bezier(0.45, 0, 0.55, 1);
    --expoIn: cubic-bezier(0.7, 0, 0.84, 0);
    --expoOut: cubic-bezier(0.16, 1, 0.3, 1);
    --expoInOut: cubic-bezier(0.87, 0, 0.13, 1);

    --border-radius: 0.5rem;
    --padding-1: 1rem;
    --padding-5: 5rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    overflow-x: hidden;

    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 2rem);

    background: var(--black);
    border-radius: var(--border-radius);
    color: var(--white);

    padding: 1rem;
    margin: 1rem;

    font-weight: bold;

    position: fixed;

    z-index: 999;
}

nav > #logo {
    font-size: x-large;
}

.nav__button {
    --border-radius: 1rem;

    color: var(--white);

    border: 1px solid var(--white);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);

    transition: all 0.5s ease;
}

.nav__button:hover {
    background: var(--medium);
    color: var(--black);
}

/* Banner video */
.banner-video {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    object-fit: cover;

    top: 0;
    left: 0;
    position: absolute;

    z-index: -1;
}

.banner-video > video {
    width: 100vw;
}

/* Main */

main {
    padding-left: var(--padding-5);

    color: var(--white);
    font-size: xx-large;

    width: 100vw;
}

main > .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: max-content;
    height: 100vh;

    font-size: 4rem;
}

main .slogan__sub-slogan {
    width: max-content;

    background: var(--black);

    margin-top: 1rem;
    margin-left: 2rem;
    padding: 0.5rem;

    border-radius: var(--border-radius);
}

main .slogan .slogan__action-btn {
    cursor: pointer;

    --spacing: 2rem;

    width: 3.3em;
    height: max-content;

    margin-left: var(--spacing);
    margin-top: var(--spacing);

    display: flex;
    align-items: center;

    position: relative;
}

main .slogan .slogan__action-btn div {
    width: 3.2rem;
    height: 3.2rem;

    padding: var(--padding-1);

    background: var(--bg);
    border-radius: 50%;
    border: 3px solid var(--black);

    color: var(--black);
    font-size: 1rem;

    transition: all 0.45s ease;
}

main .slogan .slogan__action-btn:hover div {
    width: 100%;
    height: 3.2rem;

    border-radius: 2rem;
}

main .slogan .slogan__action-btn button {
    color: var(--white);

    margin-left: 1rem;
    font-size: 0.4em;

    right: 0.4em;
    position: absolute;

    transition: all 0.45s ease;
}

main .slogan .slogan__action-btn:hover button {
    color: var(--black);

    font-weight: bold;
}
