@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

@import url("./style/main.css");

:root {
    --font-primary: "Roslindale", "Times New Roman", serif;
    --font-secondary: "Inter", "Helvetica", "Arial", sans-serif;
    --bg: #c2c0b5;
    --white: #fffef2;
    --medium: #f6efe2;
    --black: #1c1c1c;
    --black-alpha: rgba(28, 28, 28, 0.95);
    --black-alpha2: rgba(28, 28, 28, 0.05);
    --error: #d30000;
    --success: #10bb52;
    --alert: #ffd702;
    --shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    --radius: 0.5vw;
    --radius-big: 4vw;
    --p2In: cubic-bezier(0.11, 0, 0.5, 0);
    --p2Out: cubic-bezier(0.5, 1, 0.89, 1);
    --p2InOut: cubic-bezier(0.45, 0, 0.55, 1);
    --expoIn: cubic-bezier(0.7, 0, 0.84, 0);
    --expoOut: cubic-bezier(0.16, 1, 0.3, 1);
    --expoInOut: cubic-bezier(0.87, 0, 0.13, 1);

    --border-radius: 0.5rem;
    --padding-1: 1rem;
    --padding-5: 5rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;

    /* cursor: none; */
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: "Geologica", sans-serif;
    font-family: "Oswald", sans-serif;

    background: var(--bg);

    overflow-x: hidden;

    position: relative;

    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

html,
body {
    min-height: 100%;
    overscroll-behavior: none;
}

/* CUSTOME SCROLLBAR */

/* For Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

/* Custom styling of scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
}

/* Custom styling of scrollbar track */
.scrollbar::-webkit-scrollbar-track {
    background-color: var(--black);
}

.scale-banner {
    transform: scale(0.5);
}

.line-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    margin: 35% auto;
}

.img {
    width: 100%;
    height: 20em;
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.img::before {
    content: "";
    position: absolute;

    height: 100vh;
    width: 100%;

    z-index: 4;
    top: 0;
    left: 0;
    border-right: 1px solid;
}

.blur {
    filter: blur(2px);
}
