/* slider cards */
.flip-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    margin-top: 8em;

    padding-top: 10px;
    overflow: hidden;
}

.flip-container span {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}

.flip-container__wrapper {
    display: flex;
    align-items: center;
}

.flip {
    display: flex;
    justify-content: space-between;
}

.flip .flip-card {
    width: 18em;
    height: 18em;

    margin: 0 0.5rem;
}

/* Flip cards */
.flip .flip-card img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
